$color : #141c2f;
$card-color : #1f2a48;
$color-info : #056bdf;
$box-border : 12px;
@font-face {
    font-family: font-most;
    src: url(./fonts/RobotoMono-Regular.ttf);
}
@font-face {
    font-family: userName;
    src: url(./fonts/PlayfairDisplay-Regular.ttf);
}
p,h2{
    margin: 0 !important;
}
*{
    color: #ffff;
}
body {
    background-color: $color !important;
    .header{
        margin-top: 50px;
        .header-part1{
            .button{
                background-color: $color;
                border: none;
                font-family: font-most;
                font-size: 1.2rem;
            }
        }
        .header-part2{
            background-color: $card-color;
            border-radius: $box-border;
            padding: 15px;
            .input-search{
                background-color: $card-color;
                border: 0.8px solid $card-color;
                transition: 0.2s;
                width: 100%;
                padding-top: 7px;
                padding-bottom: 7px;
                &::placeholder{
                    font-family: font-most;
                    color: #ffffff8d;
                }
                &:focus{
                    border: 0.8px solid $color-info;
                    outline: none;
                    border-radius: 10px;
                }
            }
            button{
                font-family: font-most;
            }
        }
    }
    main{
        .box{
            padding: 35px;
            background-color: $card-color;
            border-radius: $box-border;
            .Profile-info{
                .img{
                    img{
                        width: 135px;
                        height: 135px;
                        border-radius: 50%;
                        
                    }
                }
                .userName-Id{
                    .userName{
                        h2{
                            font-family: userName;
                            font-size: 2.3rem;
                        }
                    }
                    .ID{
                        p{
                            font-family: font-most;
                            color: $color-info;
                            font-size: 1.3rem;
                        }
                    }
                }
                .time-joined{
                    margin-top: 16px;
                }
            }
        }
        .bio {
            p{
                font-family: font-most;
            }
        }
        .table{
            background-color: $color;
            border-radius: $box-border;
            width: 89%;
            h6{
                font-family: userName;
            }
            h3{
                font-family: font-most;
            }
        }
        .connections{
            width: 89%;
            .connection-item{
                 min-width: 170px;
                 .connection-text{
                    font-family: font-most;
                 }
            }
        }
    }
}
@media only screen and (max-width: 600px) {
        body main .table{
            width: 100%;
        }
        body main .box .Profile-info .img img{
            width: 100px;
            height: 100px;
        }
}